<div class="ui-g">
    <div class="ui-sm-0 ui-lg-2 ui-md-2"></div>
    <div class="ui-g-4 ui-lg-4 ui-sm-12">
        <button pButton type="button" class="backBtnStyle" (click)="backToMain()" style="width:80%;margin-left:10%;  height:40px;" label="Back"></button>
    </div>
    <div class="ui-g-4 ui-lg-4 ui-sm-12">
        <button pButton type="button" (click)="addPanel()" style="width:80%;margin-left:10%;  height:40px;" label="Add Panel" class="backBtnStyle"></button>
    </div>
</div>
<p-card header="PANEL LIST" [style]="{  width: '100%',
'font-size': '26px',
'text-align': 'center',
color: 'green'
}">
    <hr />

    <hr />
    <p-table #dt [columns]="cols" [value]="panels" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th style="text-align: center;">
                    Actions
                </th>
            </tr>
            <div *ngIf="showLoading" style="margin-left: 325%;">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" style="overflow: auto;">
                    {{ rowData[col.field] }}
                </td>
                <td>
                    <button pButton type="button" (click)="deletePanelByID(rowData['id'])" class="ui-button-danger" style="height: 50px; margin-left: 40%; ">
            <img src="https://img.icons8.com/color/48/000000/cancel.png" />
          </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>