<p-panel header="Patient Panel">
    <div class="ui-g">
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">

            <button pButton style="width:100%;" type="button" label="OPD" (click)="goToOPD()" class="colorSetAllButtons">
        <img style="height:40px" src="../../../assets/opd.png" />
      </button>
        </div>
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">
            <button pButton style="width:100%;" type="button" label="ER" class="colorSetAllButtons" (click)="gotoEr()">
        <img style="height:40px" src="../../../assets/panel.png" />

      </button>
        </div>
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">
            <button pButton style="width:100%;" type="button" (click)="goTolab()" label="Lab" class="colorSetAllButtons">
        <img style="height:40px" src="../../../assets/test.png" />
      </button>
        </div>
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">
            <button pButton style="width:100%;" type="button" label="Gyny" (click)="gotoGyny()" class="colorSetAllButtons">

        <img style="height:40px" src="../../../assets/gyny.png" />
      </button>


        </div>
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">
            <!-- Beds -->
            <button pButton style="width:100%;" type="button" label="Admit" class="colorSetAllButtons" (click)="gotoAdmit()">
        <img style="height:40px" src="../../../assets/admit.png" />
      </button>
        </div>

        <div style="padding:2px;" class="ui-g-3 ui-sm-12">

            <button pButton style="width:100%;" type="button" label="Obs" (click)="gotoOBS()" class="colorSetAllButtons">
        <img style="height:40px" src="../../../assets/obs.png" />

      </button>
        </div>
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">
            <button pButton style="width:100%;" type="button" label="Report" class="colorSetAllButtons">
        <img style="height:40px" src="../../../assets/report.png" />
      </button>
        </div>
        <div style="padding:2px;" class="ui-g-3 ui-sm-12">
            <button pButton style="width:100%;" (click)="gotoHistory()" type="button" label="History" class="colorSetAllButtons">
        <img style="height:40px" src="../../../assets/history.png" />
      </button>
        </div>
        <div style="padding:2px;" class="ui-g-12 ui-md-offset-4 ui-md-4  ui-lg-offset-4 ui-lg-4">

            <button pButton style="width:100%;" type="button" label="Patient Transactions" class="colorSetAllButtons" (click)="goToPatientTransactions()">
        <img style="height:40px" src="../../../assets/services.png" />
      </button>


        </div>
    </div>
</p-panel>