<p-panel header="Patient Panel">
  <div class="ui-g">

    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="OPD" (click)="goToOPD()" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/ultraviolet/50/000000/light-on.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="ER" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/color/48/000000/hospital.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="Lab" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/color/48/000000/test-tube.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="Gyny" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/cotton/64/000000/babys-room.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="Admit" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/ultraviolet/40/000000/stretcher.png" />
      </button>
    </div>

    <div  style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="Obs" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/color/48/000000/automatic.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="Report" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/color/48/000000/report-card.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-3 ui-sm-12">
      <button pButton style="width:100%;" type="button" label="History" class="ui-button-success">
        <img style="height:40px" src="https://img.icons8.com/dusk/64/000000/time-machine.png" />
      </button>
    </div>
    <div style="padding:2px;" class="ui-g-12 ui-md-offset-4 ui-md-4  ui-lg-offset-4 ui-lg-4">
        <button pButton style="width:100%;" type="button" label="Patient Services" class="ui-button-success">
            <img style="height:40px"  src="https://img.icons8.com/nolan/64/000000/services.png" />
          </button>
    </div>
  </div>
</p-panel>
