<div class="ui-g-fluid">
  <div class="ui-g-12">
    <p-dialog
      header="Detail"
      [(visible)]="display"
      [modal]="true"
      [responsive]="true"
      [style]="{ width: '800px', minWidth: '200px', position: 'absolute' }"
      [minX]="70"
      [style]="{ float: 'top' }"
      [positionTop]="null"
      [maximizable]="true"
      [baseZIndex]="10000"
      [closeOnEscape]="true"
      [closable]="true"
    >
      <p-toast [style]="{ marginTop: '40px' }" position="top-right" life="3000">
      </p-toast>
      <p-card
        header=""
        [style]="{ width: '100%', color: '#3EB650', 'text-align': 'center' }"
      >
        <!-- <p-table [columns]="cols" [value]="patient" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true"
    [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [scrollable]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table> -->
        <!-- (onLazyLoad)="loadCarsLazy($event)"
[totalRecords]="totalRecords"
[loading]="this.loading" -->

        <p-table
          #dt
          [columns]="cols"
          [value]="patient"
          [paginator]="true"
          [scrollable]="true"
          [rows]="10"
          [totalRecords]="totalRecords"
          scrollHeight="200px"
        >
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input
                type="text"
                pInputText
                size="50"
                placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width:auto"
              />
            </div>
            <!-- <div *ngIf="loading">
                <p-progressSpinner></p-progressSpinner>
              </div> -->
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>

              <th *ngFor="let col of columns" style="text-align:center;">
                {{ col.header }}
              </th>
              <th style="text-align:center;">
                Action
              </th>
            </tr>

          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            style="word-wrap: break-word;"
          >
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
              <td>
                <button
                  pButton
                  type="button"
                  (click)="deletePatientByID(rowData['id'])"
                  class="ui-button-danger"
                  style="height: 50px"
                >
                  <img
                    src="https://img.icons8.com/color/48/000000/cancel.png"
                  />
                </button>
              </td>
            </tr>
          </ng-template>

        </p-table>

      </p-card>
      <div *ngIf="loading" class="loading-indicator">
          <p-progressSpinner ></p-progressSpinner>
        </div>
    </p-dialog>

    <button
      pButton
      type="button"
      label="Search"
      (click)="showDialog()"
      class=" ui-button-success "
    ></button>
  </div>
</div>
