


<nav  style="background-color:#5cb85c "  class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="color:whitesmoke!important ; font-size:20px; font-style:italic; text-decoration: underline;" class="navbar-brand" href="#">HmS</a>
    </div>
    <ul class="nav navbar-nav">
    
    </ul>
    <ul  class="nav navbar-nav navbar-right">
      <li><a  style="color:whitesmoke !important; font: size 17px;font-style:italic; text-decoration: underline;" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a  style="color:whitesmoke !important ;  font-size:17px;font-style:italic; text-decoration: underline;"href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> 
  


