<div class="ui-g-12">
    <div class="ui-lg-5 ui-md-5 ui-sm-12">
        <button pButton type="button" class="backBtnStyle" (click)="goBack()" style="width:45%;margin-left:30% "
            label="Back"></button>
    </div>
</div>

<div class="container">
    <div class="ui-g-12">
        <p-card>
            <!-- back button and heading div -->
            <div class="ui-g ui-fluid">
                <!-- <div class="ui-g-4 ui-md-2 ui-lg-2">
            <button type="button" class="btn-block colorSetAllButtons" (click)="goBack()">
    Back
    </button>
        </div> -->
                <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-12">
                    <h3 style="text-align: center;font-weight: bold;color: green;">
                        ADD A NEW PATIENT
                    </h3>
                </div>
                <!-- checkbox for registration of gyny and obs -->
                <div class="ui-g-12" style="float: left;" *ngIf= "gen.value === 'Female'">
                    <label style="color:rgb(67, 139, 78); font-size: 18px; ">Gyny/Obs
                    </label> &nbsp;
                    <p-checkbox [(ngModel)]="isGynyObs" (onChange)="isGynObsFn()" binary="true" name="GynyObs">
                    </p-checkbox>
                </div>
            </div>
            <hr />
            <!-- ADD PATIENT FORM -->
            <form #userForm="ngForm">
                <!-- Row 1 -->
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span style="width:30%;" class="ui-inputgroup-addon"><b>Full Name&ensp;<i
                                        style="color: red">*</i></b><i></i></span>
                            <!-- Full name -->

                            <input type="text" [(ngModel)]="patient.name" #nameref="ngModel" required pInputText
                                placeholder="&ensp;Full Name" style="width:100%;" name="fullName" />
                            <span class="ui-inputgroup-addon"></span>
                        </div>
                        <div style="padding:0px;margin-bottom:0px" [hidden]="nameref.valid || nameref.pristine"
                            class="alert alert-danger">
                            Please Enter a Name
                        </div>
                    </div>

                    <div class="ui-md-1"></div>
                    <!-- cnic_n0 -->
                    <div class="ui-g-12 ui-md-5">
                        <div class="ui-inputgroup">

                            <span style="width:30%;" class="ui-inputgroup-addon"><b>CNIC&ensp;</b><i></i></span>
                            <input type="text" (keypress)="numberOnly($event)" #position="ngModel" pInputText

                                placeholder="&ensp;Cnic (Optional)" name="position" [(ngModel)]="patient.cnic"
                                ngModel maxlength = "13" minlength = "13" />
                            <span class="ui-inputgroup-addon"></span>
                        </div>

                        <div [hidden]="position.valid || position.pristine" style="padding:0px;margin-bottom:0px"
                            class="alert alert-danger">
                            ! required
                        </div>
                    </div>
                </div>

                <!-- Row 2 -->
                <div class="ui-g ui-fluid">
                    <!-- Age No -->
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span style="width:30%" class="ui-inputgroup-addon"><b>Age&ensp;<i
                                        style="color: red">*</i></b><i></i></span>

                            <input type="text" (keypress)="numberOnly($event)" #agRef="ngModel" pInputText required
                                placeholder="&ensp;Age" name="age" ngModel [(ngModel)]="patient.age" />
                            <span class="ui-inputgroup-addon"></span>
                        </div>
                        <div style="padding:0px;margin-bottom:0px" [hidden]="agRef.valid || agRef.pristine"
                            class="alert alert-danger">
                            !required
                        </div>
                    </div>

                    <div class="ui-md-1"></div>
                    <!-- Gender Dropdown -->
                    <div class="ui-g-12 ui-md-5">
                        <div class="ui-inputgroup">

                            <span style="width: 27%" class="ui-inputgroup-addon"><b>GENDER&ensp;<i
                                        style="color: red">*</i></b><i></i></span>



                            <p-dropdown #gen [options]="gender" name="gender" placeholder="Select Gender"
                                [(ngModel)]="patient.gender" required #genderRef="ngModel" [autoWidth]="false"
                                [ngStyle]="{ width: '100%' }">
                            </p-dropdown>

                            <!-- <span class="ui-inputgroup-addon"></span> -->
                            <!-- <label style="margin-top:5px">{{ patient.gender }}</label> -->
                        </div>
                        <div style="padding:0px;margin-bottom:0px" [hidden]="genderRef.valid || genderRef.pristine"
                            class="alert alert-danger">
                            !required
                        </div>
                    </div>
                </div>
                <!-- ROW 3 -->
                <div class="ui-g ui-fluid">
                    <!-- Mobile No -->
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span style="width:30%" class="ui-inputgroup-addon"><b>Mobile No&ensp;<i
                                        style="color: red">*</i></b><i></i></span>
                            <input type="text" (keypress)="numberOnly($event)" #TelRef="ngModel" pInputText required

                                placeholder="&ensp;Mobile No." name="MobileNo" ngModel [(ngModel)]="patient.phoneNo" maxlength = "11" minlength = "11" />
                            <span class="ui-inputgroup-addon"></span>

                        </div>
                        <div style="padding:0px;margin-bottom:0px" [hidden]="TelRef.valid || TelRef.pristine"
                            class="alert alert-danger">
                            Please Enter a Valid Mobile No.
                        </div>
                    </div>

                    <div class="ui-md-1"></div>
                    <!-- adionality -->
                    <div class="ui-g-12 ui-md-5">
                        <div class="ui-inputgroup">

                            <span style="width:30%" class="ui-inputgroup-addon"><b>ADDRESS&ensp;</b><i></i></span>
                            <input type="text" #adRef="ngModel" pInputText placeholder="&ensp;Address (Optional)"
                                name="Address" ngModel autocomplete="off" [(ngModel)]="patient.address" />
                            <span class="ui-inputgroup-addon"></span>
                        </div>
                        <div style="padding:0px;margin-bottom:0px" [hidden]="adRef.valid || adRef.pristine"
                            class="alert alert-danger">
                            !required
                        </div>
                    </div>
                </div>
                <!-- Row 4 -->
                <div *ngIf="isGynyObs && gen.value == 'Female'" class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span style="width:34%;" class="ui-inputgroup-addon"><b>Father/Husband
                                    Name&ensp;</b><i></i></span>
                            <!-- Full name -->
                            <input type="text" [(ngModel)]="patient.husbandOfAndFatherOf" #nameref="ngModel" required
                                pInputText placeholder="Husband Name/Father Name" style="width:100%;"
                                name="husbandOrFatherName" />
                            <!-- <span class="ui-inputgroup-addon"></span> -->
                        </div>
                    </div>

                    <div class="ui-md-1"></div>
                    <!-- cnic_n0 -->
                    <div class="ui-g-12 ui-md-5">
                        <div class="ui-inputgroup">

                            <span style="width:40%;" class="ui-inputgroup-addon"><b
                                    style="font-size: 11px;">REGISTRATION DATE&ensp;</b><i></i></span>
                            <p-calendar [(ngModel)]="patient.registrationDate" [style]="{width:'260px'}" name="calender"
                                required></p-calendar>

                        </div>
                    </div>
                </div>

                <!-- Row5  -->
                <div class="ui-g ui-fluid">
                    <!-- Submit button -->
                    <div class="ui-g-12 ui-md-12">

                        <button type="button" (click)="showConfirm()" [disabled]="userForm.invalid"
                            class="colorSetAllButtons" style="width:100%;padding: 6px;">
                            Submit
                        </button>

                        <!-- Confirm wala toast -->
                        <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
                            <ng-template let-message pTemplate="message">
                                <div style="text-align: center">
                                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                                    <h3>{{ message.summary }}</h3>
                                    <p>{{ message.detail }}</p>
                                </div>
                                <div class="ui-g ui-fluid">
                                    <div class="ui-g-6">
                                        <button type="button" pButton (click)="onConfirm();userForm.reset();"
                                            label="Yes" class="submitBtnStyle"></button>
                                    </div>
                                    <div class="ui-g-6">
                                        <button type="button" pButton (click)="onReject()" label="No"
                                            class="ui-button-secondary"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-toast>
                        <p-toast key="p" [showTransitionOptions]="'2ms'"></p-toast>

                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>