<!-- <div class="container">
    <h1> FORM DATA </h1>
    <form #userform="ngForm" (ngSubmit)="click(userform.value)">
        <div class="form-group">
            <label> name </label>
            <input type="text" class="form-control" name="username" ngModel> 
        </div>
        <div class="form-group">
            <label> EMAIL </label>
            <input type="text" class="form-control" name="email" ngModel> 
        </div>
        <div class="form-group">
            <label> STREET </label>
            <input type="text" class="form-control" name="street" ngModel> 

        </div>
        <div class="form-group">
            <label> CITY </label>
            <input type="text" class="form-control" name="city"  ngModel> 
        </div>
        <div class="form-group">
            <label> POSTAL CODE </label>
            <input type="text" class="form-control" name="pscode"  ngModel> 
        </div>
        <button type="submit" class="btn btn-primary"> submit </button>
        </form>
</div> -->
<div class="container">
        <table class="table table-striped">
           <tbody>
              <tr>
                 <td colspan="1">
                    <form class="well form-horizontal">
                       <fieldset>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Full Name</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Address Line 1</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Address Line 2</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">City</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">State/Province/Region</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Postal Code/ZIP</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Country</label>
                             <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                        <span class="ui-float-label">
                                                <input id="float-input" type="text" size="30" pInputText> 
                                                <label for="float-input">Username</label>
                                            </span>
                                </div>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Email</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Phone Number</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </td>
                 <td colspan="1">
                    <form class="well form-horizontal">
                       <fieldset>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Full Name</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Address Line 1</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Address Line 2</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">City</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">State/Province/Region</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Postal Code/ZIP</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Username</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Country</label>
                             <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                        <span class="ui-float-label">
                                                <input id="float-input" type="text" size="30" pInputText> 
                                                <label for="float-input">enter </label>
                                            </span>
                                </div>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Email</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">enter Email</label>
                                        </span>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-4 control-label">Phone Number</label>
                             <div class="col-md-8 inputGroupContainer">
                                    <span class="ui-float-label">
                                            <input id="float-input" type="text" size="30" pInputText> 
                                            <label for="float-input">Enter phone no</label>
                                        </span>
                             </div>
                          </div>
                          



                          <button type="button" pButton (click)="showTopCenter()" label="Top Center" class="ui-button-info"></button>

                         
                          
                          <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
                          

                       </fieldset>
                    </form>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>

