/* .colorSetAllButtons {
        background-color: #479761 !important;
        box-shadow: 5px 5px grey;
    } */

body,
html .backgroundImage {
    background: url('../../assets/back.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    height: 94vh;
    /* overflow: hidden; */
    width: 100%;
    background-position: center;
}

.shadowPanel {
    box-shadow: 5px 5px 20px 0px #c8c8c8;
}

@media only screen and (max-height:600px) {
    .backgroundImage {
        background: url('../../assets/back.jpg');
        background-size: cover;
        background-repeat: repeat-y;
        height: 190vh;
        /* overflow: hidden; */
        width: 100%;
        background-position: center;
    }
}