<div class="col-g-12">
    <div class="ui-lg-5 ui-md-5 ui-sm-12">
        <button pButton type="button" class=" ui-button-success" (click)="backToMonitor()"
            style="width:45%;margin-left:30% " label="Back"></button>
    </div>
</div>
<app-monitorquickview> </app-monitorquickview>



<p-table style="text-align: center;" [paginator]="true" [rows]="10" [style]="{ 'margin-top': '30px' }" #dt
    [columns]="cols" [value]="transaction">

    <ng-template pTemplate="caption">
        <div class="ui-g-12">
            <h1 style="font-weight:bold;color: green;">PATIENT TRANSACTION</h1>
            <hr style="background-color:rgb(17, 17, 17);height:3px;" />
        </div>
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th style="text-align: center;" pResizableColumn>
                Actions
            </th>

        </tr>
        <!-- <div *ngIf="showLoading" style="margin-left: 325%;">
              <p-progressSpinner></p-progressSpinner>
          </div> -->
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" style="overflow: auto;">
                {{rowData[col.field]}}
            </td>
            <td>
               

                    <app-transaction-edit [dues]="rowData['dues']" [receivedAmount]="rowData['receivedAmount']" [transactionId]="rowData['id']"></app-transaction-edit>
              

                <button pButton [ngStyle]="{width:'80px',margin:'8px'}" type="button" label="Delete" class="ui-button-error"
                    (click)="deletePatientTransaction(rowData['transactionRefId'])"></button>
            </td>

        </tr>
    </ng-template>
</p-table>