<button
  pButton
  type="button"
  label="Back"
  class="ui-button-success"
  style="width:30%;margin-left:10%;  height:40px;"
  (click)="addPanelList()"
></button>
<div style="float: right; margin-right:20%;">
  <label style="color:rgb(67, 139, 78); font-size: 18px;"
    >Patient Lookup
  </label>
  &nbsp;
  <app-searchbar> </app-searchbar>
</div>
<div class="ui-g-12 ui-fluid  ">
  <div class="ui-g-12 ui-md-12">
    <div class="container">
      <p-card
        header="EXISTING PATIENT"
        [style]="{
          width: '100%',
          'margin-top': '5px !important',
          color: '#3EB650',
          'text-align': 'center',
          height: '30% !important'
        }"
      >
        <hr />
        <form (ngSubmit)="Onsubmit(form.value); form.reset()" #form="ngForm">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12 ui-lg-5">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:50%;"
                  >MR.NO<i style="color: red">*</i></span
                >
                <input
                  type="text"
                  required
                  #mrNo="ngModel"
                  pInputText
                  placeholder="MR Number"
                  name="mrNo"
                  ngModel
                  [(ngModel)]="appointments.id"
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="mrNo.valid || mrNo.pristine"
                class="alert alert-danger"
              >
                Please Enter a MR Number
              </div>
            </div>
            <div class="ui-md-2"></div>

            <div class="ui-g-12 ui-md-12 ui-lg-5">
              <div class="ui-inputgroup">
                <span
                  class="ui-inputgroup-addon"
                  style="width:50%;  font-size: 11px; line-height: 15px;"
                  >SELECT DOCTOR<i style="color: red">*</i></span
                >
                <p-dropdown
                  [options]="_selectDoctor"
                  required
                  name="doctor"
                  [style]="{ width: '300px' }"
                  placeholder="Select Doctor"
                  [(ngModel)]="appointments.selectDoctor"
                >
                </p-dropdown>
              </div>
            </div>

            <!-- <div class="ui-g-12 ui-md-3">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">DOB</span>
                <p-calendar></p-calendar>
              </div>

            </div> -->

            <div class="ui-g-12 ui-md-12 ui-lg-5 ui-sm-12">
              <div class="ui-inputgroup">
                <span
                  class="ui-inputgroup-addon"
                  style="width:50%;  font-size: 11px;"
                  >APPOINTMENT DATE<i style="color: red">*</i></span
                >
                <p-calendar
                  [style]="{ width: '300px' }"
                  name="appoinmentDate"
                  required
                  placeholder="Enter Appointment Date here"
                  [(ngModel)]="appointments.appoinmentDate"
                >
                </p-calendar>
              </div>
            </div>
            <div class="ui-md-2"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-5">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:50%;">TIME<i style="color: red">*</i></span>
                <p-calendar
                  [style]="{ width: '300px' }"
                  name="time"
                  required
                  placeholder="Enter Time here"
                  [timeOnly]="true"
                  [(ngModel)]="appointmentTime"
                >
                </p-calendar>
              </div>
            </div>

            <div class="ui-g-12 ">
              <div class=" ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
                <button
                  pButton
                  type="submit"
                  label="Save"
                  class=" ui-button-success  one"
                  style="width:100%;"
                  [disabled]="form.invalid"
                ></button>
              </div>
              <p-toast position="top-center"></p-toast>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
