<!-- <div class="container"> -->
<p-toast></p-toast>

<div class="ui-g-12">
    <div class="ui-lg-5 ui-md-5 ui-sm-12">
        <button type="button" class="backBtnStyle" (click)="back()" style="margin-left: 14%;
        margin-bottom: 1%;
        height: 35px;
        width: 30%;
        width: 50%;">Back</button>
    </div>
</div>
<div class="ui-g-12">
    <app-monitorquickview> </app-monitorquickview>
</div>
<div id="print-section" [hidden]=true>
    <!-- <div *ngIf="addEmergency.name !== undefined"> -->

    <h1 style="text-align: center; color:green;font-weight:bold;">OPD EMERGENCY RECEIPT</h1>
    <hr style="border: 2px solid black;">
    <div class="ui-g">

        <p style="font-size: 20px;"> <b style="font-size: 20px;"> MR No: </b> {{patientMrNo}}</p>
        <p style="font-size: 20px;"><b style="font-size: 20px;"> Name: </b> {{patientName}}</p>
        <p style="font-size: 20px;"><b style="font-size: 20px;"> Date: </b> {{date | date :'short'}}</p>


        <div>
            <span style="font-weight:bold;">Facility</span><span style="font-weight:bold;float: right;">Price</span>
            <hr style="border: 1px solid black;width:100%;" />
            <div *ngFor="let facility of facilitiesArray">
                <span>{{facility.name}}</span>
                <span style="float: right;">{{(facility.price)}}</span>
                <hr style="width:100%;" />
            </div>
            <div>
                <span><b> Discount: </b> <span style="float: right;"> {{discount}}</span></span>


                <hr style="border:1px solid black;width:100%;" />
                <span><b> Total: </b> <span style="float:right;">{{total}}</span></span>
                <hr style="border:1px solid black;width:100%;" />


            </div>





        </div>


    </div>
</div>



<div [hidden]="!hidder">
    <p-card>

        <p style="margin:20px;display:block;text-align: center;">No Facility Added,Please add a facility</p>
        <button style="width:40%;margin-left:30%" pButton type="button" label="Add new Faciity" (click)="routeToEr()"
            class="ui-button-success submitBtnStyle"></button>

    </p-card>
</div>
<div [hidden]="!show" class="ui-g-12">

    <p-card header="OPD EMERGENCY SERVICE" [style]="{
        width: '100%',
        'font-size': '26px',

        'text-align': 'center',
        color: 'green'
	  }">



        <div class="ui-g ui-fluid">
            <hr style="height:2px;width:100%;background-color:green; margin-top: 0px" />


            <div class="ui-lg-8 ui-md-8 ui-sm-12">
                <div *ngIf="showspinloading">
                    <p-progressSpinner></p-progressSpinner>
                    <h2>{{showspinLoadingMessage}}</h2>
                </div>
                <form style="width:100%;" #myForm="ngForm">


                    <div *ngIf="show">
                        <!-- Doctor Names Field -->

                        <div class="ui-g">
                            <div class="ui-md-2 ui-lg-2"></div>
                            <div class="ui-md-8 ui-lg-8 ui-sm-12">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"
                                        style="height:35px;width:45%;font-size:15px;font-weight: bold;">
                                        Select ER</span>

                                    <p-multiSelect name="multiDropdown" [options]="multiDropdown"
                                        [(ngModel)]="addEmergency.facilities" (onChange)="onChangeFacility()"
                                        [ngStyle]="{width:'100%'}" [style]="{height:'auto'}" required>
                                    </p-multiSelect>
                                </div>
                            </div>
                        </div>
                        <!-- price of facility field -->
                        <div class="ui-g">
                            <div class="ui-md-2 ui-lg-2"></div>
                            <div class="ui-md-8 ui-lg-8 ui-sm-12">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"
                                        style="width:37%;font-size:15px; font-weight: bold;">
                                        Facility Price</span>
                                    <input type="text" name="price" [(ngModel)]="addEmergency.price" [readOnly]="true"
                                        pInputText placeholder="$" required>

                                </div>
                            </div>
                        </div>

                        <!-- Cash Recieved Field -->
                        <div class="ui-g">
                            <div class="ui-md-2 ui-lg-2"></div>
                            <div class="ui-md-8 ui-lg-8 ui-sm-12">
                                <div class="ui-inputgroup">

                                    <span class="ui-inputgroup-addon"
                                        style="width:37%;font-size:15px; font-weight: bold;">
                                        Cash Recieved<i style="color: red">*</i></span>
                                    <input type="text" (keypress)="numberOnly($event)" name="cashRecieve"
                                        [(ngModel)]="addEmergency.cashRecieve" pInputText placeholder="0" required>


                                </div>
                            </div>
                        </div>
                        <!-- Discount Field -->
                        <div class="ui-g">
                            <div class="ui-md-2 ui-lg-2"></div>
                            <div class="ui-md-8 ui-lg-8 ui-sm-12">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"
                                        style="width:37%;font-size:15px;font-weight: bold;">
                                        Discount</span>


                                    <input type="text" (keypress)="numberOnly($event)"
                                        (ngModelChange)="discounter($event)" min="0" name="discount"
                                        [(ngModel)]="addEmergency.discount" pInputText placeholder="0">




                                </div>
                                <div style="padding:0px !important;margin-bottom:0px !important;font-size: 16px; text-align:center;"
                                    class="alert alert-danger" [hidden]="discountCheck">
                                    discount is more than total price!
                                </div>
                            </div>
                        </div>
                        <!-- Total Field -->
                        <div class="ui-g">
                            <div class="ui-md-2 ui-lg-2"></div>
                            <div class="ui-md-8 ui-lg-8 ui-sm-12">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"
                                        style="width:37%;font-size:15px;font-weight: bold;">
                                        Total</span>
                                    <input type="text" pInputText name="total" [(ngModel)]="addEmergency.total"
                                        placeholder="Total Amount" [readOnly]="true" required>

                                </div>
                            </div>
                        </div>
                        <!-- Save Button -->
                        <div class="ui-g">
                            <div class="ui-md-2 ui-lg-2"></div>
                            <div class="ui-md-8 ui-lg-8 ui-sm-12">

                                <button pButton type="button" (click)="saveOpdEmergency();myForm.reset();" label="SAVE"
                                    class="ui-button-success submitBtnStyle"
                                    [disabled]="myForm.invalid || !discountCheck"></button>

                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-md-2 ui-lg-2"></div>
                        <div class="ui-md-8 ui-lg-8 ui-sm-12">

                            <button pButton type="button"
                                [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}" label="PRINT"
                                class="ui-button-success submitBtnStyle" printSectionId="print-section"
                                (click)="print()" ngxPrint [disabled]="printer"></button>

                        </div>
                    </div>



                </form>
            </div>
            <div class="ui-lg-4 ui-md-4 ui-sm-12">
                <app-facilities [facilities]="facilitiesArray"></app-facilities>
            </div>
        </div>


    </p-card>
</div>