.row {
  display: inherit;
}

.table-bordered {
  border: 5px solid #22693ed4 !important;
}

span {
  color: #22693ed4;
  font-size: 14px;
  font-weight: bold;
}

.editButton {
  background-color: #13a3e1ed !important;
  box-shadow: inset 1px 4px 20px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white !important;
}

p{
  color:black;
  font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar {
  border: 0px solid #ceaaaa !important;
  background-color: #143f25 !important;
  color: #f7f4f4 !important;
  padding: 1em;
  font-weight: 400;
  border-bottom: 0 none;
}