
<!-- style="background-color:#479761 -->

<nav class="navbar colorSetAllButtons">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white;" href="#">BARKHIA HOSPITAL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user" style="color:white;"></span> Main Screen</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color:white;"></span> log out</a></li>
      </ul>
    </div>
  </div>
</nav>


