<nav class="navbar navbarCss" style="padding:0px;">
    <div class="container-fluid" style="background-color:#479761">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white;font-weight: bold" href="#">BARKHIA HOSPITAL</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="mainscreen" routerLink="mainscreen" routerLinkActive="active">
                <li>Main Screen</li>
            </a>
            <a class="navbar-brand" href="#">
                <li>log out</li>
            </a>
        </ul>

    </div>
</nav>