<div class="ui-g-12">
  <div class="ui-lg-5 ui-md-5 ui-sm-12">
    <button
      pButton
      type="button"
      class="backBtnStyle"
      (click)="backToMonitor()"
      style="width:45%;margin-left:30% "
      label="Back"
    ></button>
  </div>

  <div class="ui-g-12 ">
    <p-toast></p-toast>
    <p-card
      header="Dashboard"
      [style]="{
        width: '100%',
        height: '310px',
        'font-size': '20px',
        'text-align': 'center',
        color: 'green',
        'padding-bottom': '20px'
      }"
    >
      <hr style="height:2px;width:100%;background-color:green" />
      <div class="ui-g ">
        <div class="ui-g-3 ui-sm-12  ui-md-4   ui-lg-4">
          <label style="font-size: 25px !important "> Today: </label>
          <label
            style="font-size:22px !important;color:black;margin-left:10px; text-decoration:underline  "
          >
            {{ showdate }}</label
          >
        </div>
        <div class="ui-g-3 ui-sm-12  ui-md-4   ui-lg-4"></div>
        <div class="ui-g-3 ui-sm-12  ui-md-4   ui-lg-4">
          <button
            pButton
            type="button"
            class="backBtnStyle"
            style="width:50%;margin-left:10%;  height:40px;"
            label="All Reports"
            (click)="allreports()"
          ></button>
        </div>

        <div class="ui-g ui-g-12 ui-inputgroup ">
          <div class="ui-g-3 ui-sm-12  ui-md-3   ui-lg-3"></div>
          <div class=" ui-g-3 ui-sm-12  ui-md-3   ui-lg-3  ">
            <span class="ui-inputgroup-addon " style="font-size:14px">Date From</span>
            <p-calendar
              name="filterByDate"
              required
              [(ngModel)]="datefrom"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1947:2090"
              showButtonBar="true"
              placeholder="Select Date"
            >
            </p-calendar>
          </div>

          <div class="ui-g-3 ui-sm-12  ui-md-3   ui-lg-3 ">
            <span class="ui-inputgroup-addon " style="font-size:14px">Date Till</span>
            <p-calendar
              name="filterByDate"
              required
              [(ngModel)]="datetill"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1947:2090"
              showButtonBar="true"
              placeholder="Select Date"
            >
            </p-calendar>
          </div>
        </div>

        <div class="ui-g ui-g-12 ">
          <div class="ui-g-3 ui-sm-12  ui-md-5   ui-lg-5"></div>
          <div class="ui-g-3 ui-sm-12  ui-md-2   ui-lg-2">
            <button
              pButton
              type="button"
              class="backBtnStyle"
              (click)="onfilter()"
              style="width:100%;margin-left:10%;  height:40px;"
              label="Filter"
            ></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>

  <div class="ui-g-12">
    <p-card
      [style]="{
        width: '100%',
        overflow: 'hidden',
        'margin-top': '0px'
      }"
    >
      <div class="row mb-3">
        <div class="col-xl-4 col-sm-6 py-2">
          <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
              <h6 class="text-uppercase">Total Amount in Hospital:</h6>
              <h1 class="display-4">{{ totalamountInHospital }}</h1>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 py-2">
          <div class="card text-white bg-success h-100">
            <div class="card-body bg-success">
              <h6 class="text-uppercase">Total Amount in OPD Modules:</h6>
              <h1 class="display-4">{{ totalAmountInOPD }}</h1>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6 py-2">
          <div class="card text-white bg-info h-100">
            <div class="card-body">
              <h6 class="text-uppercase">Number of Patients arrived:</h6>
              <h1 class="display-4">{{ totalPatientsInHospital }}</h1>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-card>
            <b>Total Amount in Barkhia Hospital:</b>
          </p-card>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-card>
            <b>Total Amount in OPD Modules:</b>
          </p-card>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-card>
            <b>Total Dues in OPD Modules:</b>
          </p-card>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-card>
            <b>Total Dues in Barkhia Hospital:</b>
          </p-card>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-card>
            <b>Number of Patients admitted:</b>
          </p-card>
        </div>
      </div>
-->
      <div class="ui-g">
        <div class="ui-g-3 ui-sm-12  ui-md-6   ui-lg-6">
          <p-card
            [style]="{
              width: '100%',
              'text-align': 'center'
            }"
          >
            <div *ngIf="showspinloading">
              <p-progressSpinner [style]="{ 'margin-top': '10%' }"></p-progressSpinner>
              <h2>{{ showspinloadingmessage }}</h2>
            </div>

            <app-dashboardgraphs
              [data]="totalbydatelinechart"
              [typeofgraph]="type1"
              [changedwidth]="changedwidth2"
            >
            </app-dashboardgraphs>
          </p-card>
        </div>

        <div class="ui-g-12 ui-sm-12  ui-md-6   ui-lg-6">
          <p-card
            [style]="{
              width: '100%',
              'text-align': 'center'
            }"
          >
            <div *ngIf="showspinloading">
              <p-progressSpinner [style]="{ 'margin-top': '10%' }"></p-progressSpinner>
              <h2>{{ showspinloadingmessage }}</h2>
            </div>

            <app-dashboardgraphs
              [data]="totalamountcolumnchart"
              [typeofgraph]="type3"
              [changedwidth]="changedwidth2"
            >
            </app-dashboardgraphs>
          </p-card>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-3 ui-sm-12  ui-md-6   ui-lg-6">
          <p-card
            [style]="{
              width: '100%',
              'text-align': 'center'
            }"
          >
            <div *ngIf="showspinloading">
              <p-progressSpinner [style]="{ 'margin-top': '10%' }"></p-progressSpinner>
              <h2>{{ showspinloadingmessage }}</h2>
            </div>

            <app-dashboardgraphs
              [data]="duestotalcoloumnchart"
              [typeofgraph]="type3"
              [changedwidth]="changedwidth2"
            >
            </app-dashboardgraphs>
          </p-card>
        </div>

        <div class="ui-g-3 ui-sm-12  ui-md-6   ui-lg-6">
          <p-card
            [style]="{
              width: '100%',
              'text-align': 'center'
            }"
          >
            <div *ngIf="showspinloading">
              <p-progressSpinner [style]="{ 'margin-top': '10%' }"></p-progressSpinner>
              <h2>{{ showspinloadingmessage }}</h2>
            </div>

            <app-dashboardgraphs
              [data]="duesbydatetotal"
              [typeofgraph]="type1"
              [changedwidth]="changedwidth2"
            >
            </app-dashboardgraphs>
          </p-card>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-3 ui-sm-12  ui-md-12   ui-lg-12">
          <p-card
            [style]="{
              width: '100%',
              'text-align': 'center'
            }"
          >
            <div *ngIf="showspinloading">
              <p-progressSpinner [style]="{ 'margin-top': '10%' }"></p-progressSpinner>
              <h2>{{ showspinloadingmessage }}</h2>
            </div>

            <app-dashboardgraphs
              [data]="patientsbydatetotal"
              [typeofgraph]="type1"
              [changedwidth]="changedwidth3"
            >
            </app-dashboardgraphs>
          </p-card>
        </div>
      </div>
    </p-card>
  </div>
</div>
