<div class="ui-g-12">
  <div class="ui-lg-5 ui-md-5 ui-sm-12">
      <button pButton type="button" class="backBtnStyle" (click)="backToMonitor()" style="width:45%;margin-left:30% "
          label="Back"></button>
  </div>

  <div class="ui-g-12">
      <p-toast></p-toast> 
<p-card header="Dashboard" [style]="{
  width: '100%',
    'font-size': '30px',
    'text-align': 'center',
    'color': 'green',
    'margin-top':'10px'
    
  }">
  <hr style="height:2px;width:100%;background-color:green; margin-top: 0px" />
  <div class="ui-g">
      <div  class="ui-g-3 ui-sm-12  ui-md-2   ui-lg-2">
        <label style="font-size: 25px !important "> Today: </label> 
        </div>
        <div  class="ui-g-3 ui-sm-12  ui-md-6   ui-lg-6"> </div>
        <div  class="ui-g-3 ui-sm-12  ui-md-4   ui-lg-4">
            <button pButton type="button" class="backBtnStyle"  style="width:50%;margin-left:10%;  height:40px;" label="Back"></button>
 

          </div>


          <div class="ui-g ui-g-12">
            <div  class="ui-g-3 ui-sm-12  ui-md-3   ui-lg-3" > </div>
              <div  class="ui-g-3 ui-sm-12  ui-md-3   ui-lg-3">
                  <label style="font-size:20px !important ;margin-right:10px !important; text-decoration:underline;  " >From Date: </label> 
                  <p-calendar name="filterByDate"  required [(ngModel)]="dashboard.from" [monthNavigator]="true" [yearNavigator]="true" yearRange="1947:2090" showButtonBar = "true" (onSelect)="dateOnClick()" placeholder="Select Date">
                  </p-calendar>
                </div>
                
               
                <div  class="ui-g-3 ui-sm-12  ui-md-3   ui-lg-3">
                    <label style="font-size:20px !important ;margin-right:10px !important;text-decoration:underline;  " >Till Date: </label> 
                    <p-calendar name="filterByDate"  required [(ngModel)]="dashboard.till" [monthNavigator]="true" [yearNavigator]="true" yearRange="1947:2090" showButtonBar = "true" (onSelect)="dateOnClick()" placeholder="Select Date">
                    </p-calendar>
                  </div>
               



            </div>
          


    </div>

</p-card>
</div>
