<div class="container">
  <p-card
    header=""
    [style]="{ width: '100%', color: '#3EB650', 'text-align': 'left' }"
  >
    <h3>ADD PANEL</h3>
    <hr />

    <div class="ui-g">
      <div class="ui-lg-2  ui-g-12 ui-md-6 ui-sm-12"></div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          (click)="doctorList()"
          label="Add Doctor"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img
            src="https://img.icons8.com/color/48/000000/medical-doctor.png"
          />
        </button>
      </div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label="Add Panel"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/hospital.png" />
        </button>
      </div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label=" Add lab-test "
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/test-tube.png" />
        </button>
      </div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label="Add Er service"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/ambulance.png" />
        </button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-lg-1 ui-g-12 ui-md-6 ui-sm-12"></div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label=" Add Package"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/cash-in-hand.png" />
        </button>
      </div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label="Add Reports"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/combo-chart.png" />
        </button>
      </div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label=" Add  Directory"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/user-folder.png" />
        </button>
      </div>
      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label="Add CashFlow"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/receipt.png" />
        </button>
      </div>

      <div class="ui-lg-2 ui-g-12 ui-md-6 ui-sm-12 ">
        <button
          pButton
          type="button"
          label=" Add Appoinment"
          class="ui-button-raised ui-button-success"
          style="width:100;"
        >
          <img src="https://img.icons8.com/color/48/000000/calendar.png" />
        </button>
      </div>
    </div>
  </p-card>
</div>
