<button pButton type="button" class="ui-button-success" style="margin-left:1%; margin-bottom: 1%; height:30px; width: 70px" (click)='routePage()'><p><img src="https://img.icons8.com/material-sharp/24/000000/back.png">Back</p></button>

<div class="ui-g-12 ui-fluid ">
  <div class="ui-g-12 ui-md-12">
    <div class="container">
      <p-card header="ADD DOCTOR" [style]="{
        width: '100%',
        'margin-top': '5px !important',
        color: '#3EB650',
        'text-align': 'center',
        height: '30% !important'
      }">
        <hr />
        <form  #form="ngForm" >
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i><i style='color: red'>*</i></span>
                <input style="width:80%;" type="text" required #abc="ngModel" pInputText placeholder="Full Name"
                  [(ngModel)]="doctor.fullName" name="fullName" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abc.valid || abc.pristine"
                class="alert alert-danger">
                Please Enter a fullName
              </div>
            </div>


            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:30%;" class="ui-inputgroup-addon">Gender <i style='color: red'>*</i></span>
                <p-dropdown [autoWidth]="false" [ngStyle]="{width:'100%'}" required [options]="gender" name="gender" [(ngModel)]="doctor.gender" placeholder="Select Gender">
                </p-dropdown>
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%" class="ui-inputgroup-addon">DOB</span>
                <p-calendar [ngStyle]="{width:'100%'}"></p-calendar>
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">Mobile<i style='color: red'>*</i></span>
                <input type="text" required pInputText placeholder="Mobile" (keypress)="numberOnly($event)"
                  #abd="ngModel" name="mobile" [(ngModel)]="doctor.mobile" ngModel />
              </div>

              <div style="padding:0px;margin-bottom:4px" [hidden]="abd.valid || abd.pristine"
                class="alert alert-danger">
                Please Enter a fullName
              </div>
            </div>



            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">EMR <i style='color: red'>*</i></span>
                <input style="width:100%;" type="text" required pInputText (keypress)="numberOnly($event)" #abe="ngModel"
                  [(ngModel)]="doctor.emrNo" name="emrno" placeholder="EMR NO" ngModel />
              </div>

              <div style="padding:0px;margin-bottom:4px" [hidden]="abe.valid || abe.pristine"
                class="alert alert-danger">
                Please Enter an emr no
              </div>
            </div>



            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:45%;" class="ui-inputgroup-addon">Nationality</span>
                <input style="width:100%;" type="text" [(ngModel)]="doctor.nationality" pInputText placeholder="Nationality"
                  #abf="ngModel" name="nationality" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abf.valid || abf.pristine"
                class="alert alert-danger">
                Please Enter your nationality
              </div>
            </div>

            <div class="ui-g-6 ui-sm-12 ui-md-6">
              <div class="ui-inputgroup">
                <span style="width:15%;" class="ui-inputgroup-addon">Address</span>
                <input type="text" pInputText placeholder="Address" name="Address" #abg="ngModel"
                  [(ngModel)]="doctor.address" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abg.valid || abg.pristine"
                class="alert alert-danger">
                Please Enter youR address
              </div>
            </div>
            <div class="ui-g-6 ui-sm-12 ui-md-6">
              <div class="ui-inputgroup">
                <span  class="ui-inputgroup-addon">Fees<i style='color: red'>*</i></span>
                <input type="text" pInputText required placeholder="Fees" name="Fees" #abg="ngModel"
                  [(ngModel)]="doctor.fees" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abg.valid || abg.pristine"
                class="alert alert-danger">
                Please Enter youR address
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:30%">TimeIN</span>
                <p-calendar [ngStyle]="{width:'100%',textAlign:'center'}" [timeOnly]="true"></p-calendar>
              </div>
            </div>



            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:30%;">Timeout</span>
                <p-calendar [ngStyle]="{width:'100%',textAlign:'center'}" [timeOnly]="true"></p-calendar>
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">Service</span>
                <input type="text" pInputText placeholder="daysservice/week" name="daysservice" #abh="ngModel"
                  [(ngModel)]="doctor.daysservice" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abh.valid || abh.pristine"
                class="alert alert-danger">
                Please Enter days of service
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">CNIC</span>
                <input type="text" pInputText #abi="ngModel" (keypress)="numberOnly($event)" placeholder="CNIC"
                  name="cnic" [(ngModel)]="doctor.cnic" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abi.valid || abi.pristine"
                class="alert alert-danger">
                Please Enter your cnic
              </div>
            </div>



            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">Email</span>
                <input type="text" pInputText placeholder="EMAIL" name="email" #abj="ngModel"
                  [(ngModel)]="doctor.email" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abj.valid || abj.pristine"
                class="alert alert-danger">
                Please Enter your email
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:25%;" class="ui-inputgroup-addon">Speciality</span>
                <input type="text" pInputText placeholder="Speciality" #abk="ngModel" name="speciality"
                  [(ngModel)]="doctor.speciality" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abk.valid || abk.pristine"
                class="alert alert-danger">
                Please Enter speciality
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span  style="width:35%;" class="ui-inputgroup-addon">Qualification</span>
                <input type="text" pInputText placeholder="Qualification" #abl="ngModel" name="qualification"
                  [(ngModel)]="doctor.qualification" ngModel />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abl.valid || abl.pristine"
                class="alert alert-danger">
                Please Enter qualification
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:30%;" class="ui-inputgroup-addon">Hours/day</span>
                <input ngModel type="text" pInputText placeholder="Hours/day" #abm="ngModel" name="hoursday"
                  [(ngModel)]="doctor.hoursday" />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abm.valid || abm.pristine"
                class="alert alert-danger">
                Please Enter hours/day
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:25%;" class="ui-inputgroup-addon">Position</span>
                <input ngModel type="text" pInputText placeholder="Position" name="position" #abn="ngModel"
                  [(ngModel)]="doctor.position" />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abn.valid || abn.pristine"
                class="alert alert-danger">
                Please Enter position
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:25%;" class="ui-inputgroup-addon">Religion</span>
                <input ngModel type="text" pInputText placeholder="Religion" [(ngModel)]="doctor.religion"
                  name="religion" #abo="ngModel" />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abo.valid || abo.pristine"
                class="alert alert-danger">
                Please Enter religion
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">Salary</span>
                <input ngModel type="text" pInputText (keypress)="numberOnly($event)" placeholder="Salary" #abp="ngModel" name="sallary"
                  [(ngModel)]="doctor.sallary" />
              </div>
              <div style="padding:0px;margin-bottom:4px" [hidden]="abp.valid || abp.pristine"
                class="alert alert-danger">
                Please Enter sallary
              </div>

            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:35%;" class="ui-inputgroup-addon">Description</span>
                <textarea maxlength="70" rows="2" cols="30" pInputTextarea autoResize="autoResize"
                  placeholder="Description"></textarea>
              </div>
            </div>

            <div class="ui-g-12 ">
                <div class="ui-g ui-fluid">
                    <!-- Submit button -->
                    <div class="ui-g-12 ui-md-12">
                      <button type="button" (click)="save();form.reset();" [disabled]="form.invalid" class="btn btn-success btn-block">
                        Submit
                      </button>

                    </div>
                  </div>
            </div>
          </div>
        </form>
        <p-toast></p-toast>
      </p-card>
    </div>
  </div>
</div>
