<div class="ui-g-12">
    <div class="ui-lg-5 ui-md-5 ui-sm-12">
        <button pButton type="button" class="backBtnStyle" (click)="routePage()" style="width:45%;margin-left:30% " label="Back"></button>
    </div>
</div>
<div class="ui-g-12 ui-fluid ">
    <div class="ui-g-12 ui-md-12">
        <div class="container">
            <p-card header="ADD DOCTOR" [style]="{
          width: '100%',
          'margin-top': '5px !important',
          color: '#3EB650',
          'text-align': 'center',
          height: '30% !important'
        }">
                <hr />
                <form #myForm="ngForm">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-sm-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon" style="width: 30%">FullName<i style="color: red">*</i>
                </span>
                                <input style="width:100%;" type="text" required #abc="ngModel" pInputText placeholder="Full Name" [(ngModel)]="doctor.fullName" name="fullName" ngModel />
                            </div>
                            <div style="padding:0px;margin-bottom:4px" [hidden]="abc.valid || abc.pristine" class="alert alert-danger">
                                Please Enter a fullName
                            </div>
                        </div>

                        <div class="ui-g-12 ui-sm-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <span style="width:30%;" class="ui-inputgroup-addon">Gender<i style="color: red">*</i></span
                >
                <p-dropdown
                  [autoWidth]="false"
                  [ngStyle]="{ width: '100%' }"
                  [options]="gender"
                  name="gender"
                  [(ngModel)]="doctor.gender"
                  placeholder="Select Gender"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%" class="ui-inputgroup-addon">DOB</span>
                                <p-calendar [ngStyle]="{ width: '100%' }" [(ngModel)]="doctor.dateOfbirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1947:2090" name="DateOfBirth" showButtonBar="true" dateFormat="dd/mm/yy">
                                </p-calendar>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-sm-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <span style="width:20%;" class="ui-inputgroup-addon">Mobile<i style="color: red">*</i></span
                >
                <input
                  type="text"
                  required
                  pInputText
                  placeholder="Mobile"
                  (keypress)="numberOnly($event)"
                  #abd="ngModel"
                  name="mobile"
                  [(ngModel)]="doctor.mobile"
                  ngModel
                />
              </div>

              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abd.valid || abd.pristine"
                class="alert alert-danger"
              >
                Please Enter a MobileNo
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon"
                  >EMR<i style="color: red">*</i></span
                >
                <input
                  style="width:100%;"
                  type="text"
                  required
                  pInputText
                  (keypress)="numberOnly($event)"
                  #abe="ngModel"
                  [(ngModel)]="doctor.emrNo"
                  name="emrno"
                  placeholder="EMR NO"
                  ngModel
                />
              </div>

              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abe.valid || abe.pristine"
                class="alert alert-danger"
              >
                Please Enter an emr no
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:45%;" class="ui-inputgroup-addon"
                  >Nationality</span
                >
                <input
                  style="width:100%;"
                  type="text"
                  [(ngModel)]="doctor.nationality"
                  pInputText
                  placeholder="Nationality"
                  #abn="ngModel"
                  name="nationality"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abn.valid || abn.pristine"
                class="alert alert-danger"
              >
                Please Enter your nationality
              </div>
            </div>

            <div class="ui-g-6 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:30%;" class="ui-inputgroup-addon"
                  >Address<i style="color: red">*</i></span
                >
                <input
                  type="text"
                  pInputText
                  required
                  placeholder="Address"
                  name="Address"
                  #abg="ngModel"
                  [(ngModel)]="doctor.address"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abg.valid || abg.pristine"
                class="alert alert-danger"
              >
                Please Enter your address
              </div>
            </div>
            <div class="ui-g-6 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"
                  >Fees<i style="color: red">*</i></span
                >
                <input
                  type="text"
                  pInputText
                  required
                  placeholder="Fees"
                  name="Fees"
                  (keypress)="numberOnly($event)"
                  #abf="ngModel"
                  [(ngModel)]="doctor.fees"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abf.valid || abf.pristine"
                class="alert alert-danger"
              >
                Please Enter your Fees
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon"
                  >Share<i style="color: red">*</i></span
                >
                <input
                  ngModel
                  type="text"
                  [min]="0"
                  [max]="100"
                  pInputText
                  required
                  (keypress)="numberOnly($event)"
                  placeholder="Share %"
                  #abSahre="ngModel"
                  name="share"
                  [(ngModel)]="doctor.share"
                  (ngModelChange)="discounter($event)"
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="shareCheck"
                class="alert alert-danger"
              >
                Please Enter a correct share
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:30%"
                  >TimeIN</span
                >
                <p-calendar
                  [ngStyle]="{ width: '100%', textAlign: 'center' }"
                  dataType="string"
                  [timeOnly]="true"
                  showTime="true"
                  hourFormat="24"
                  [(ngModel)]="doctor.timeIn"
                  name="TimeIn"
                >
                </p-calendar>
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:30%;"
                  >Timeout</span
                >
                <p-calendar
                  [ngStyle]="{ width: '100%', textAlign: 'center' }"
                  [timeOnly]="true"
                  [(ngModel)]="doctor.timeOut"
                  showTime="true"
                  hourFormat="24"
                  dataType="string"
                  name="TimeOut"
                ></p-calendar>
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon"
                  >Service</span
                >
                <p-toast key="s" [showTransitionOptions]="'2ms'"></p-toast>
                <input
                  type="text"
                  pInputText
                  placeholder="daysservice/week"
                  name="daysservice"
                  #abh="ngModel"
                  [(ngModel)]="doctor.daysservice"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abh.valid || abh.pristine"
                class="alert alert-danger"
              >
                Please Enter days of service
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon">CNIC</span>
                                <input type="text" pInputText #abi="ngModel" (keypress)="numberOnly($event)" placeholder="CNIC" name="cnic" [(ngModel)]="doctor.cnic" ngModel />
                            </div>
                            <div style="padding:0px;margin-bottom:4px" [hidden]="abi.valid || abi.pristine" class="alert alert-danger">
                                Please Enter your cnic
                            </div>
                        </div>

                        <div class="ui-g-12 ui-sm-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <span style="width:20%;" class="ui-inputgroup-addon">Email</span
                >
                <input
                  type="text"
                  pInputText
                  placeholder="EMAIL"
                  name="email"
                  #abj="ngModel"
                  [(ngModel)]="doctor.email"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abj.valid || abj.pristine"
                class="alert alert-danger"
              >
                Please Enter your email
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:25%;" class="ui-inputgroup-addon"
                  >Speciality</span
                >
                <input
                  type="text"
                  pInputText
                  placeholder="Speciality"
                  #abk="ngModel"
                  name="speciality"
                  [(ngModel)]="doctor.speciality"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abk.valid || abk.pristine"
                class="alert alert-danger"
              >
                Please Enter speciality
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:35%;" class="ui-inputgroup-addon"
                  >Qualification</span
                >
                <input
                  type="text"
                  pInputText
                  placeholder="Qualification"
                  #abl="ngModel"
                  name="qualification"
                  [(ngModel)]="doctor.qualification"
                  ngModel
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abl.valid || abl.pristine"
                class="alert alert-danger"
              >
                Please Enter qualification
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:30%;" class="ui-inputgroup-addon"
                  >Hours/day</span
                >
                <input
                  ngModel
                  type="text"
                  pInputText
                  placeholder="Hours/day"
                  #abm="ngModel"
                  name="hoursday"
                  [(ngModel)]="doctor.hoursday"
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abm.valid || abm.pristine"
                class="alert alert-danger"
              >
                Please Enter hours/day
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:25%;" class="ui-inputgroup-addon"
                  >Position</span
                >
                <input
                  ngModel
                  type="text"
                  pInputText
                  placeholder="Position"
                  name="position"
                  #abn="ngModel"
                  [(ngModel)]="doctor.position"
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abn.valid || abn.pristine"
                class="alert alert-danger"
              >
                Please Enter position
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:25%;" class="ui-inputgroup-addon"
                  >Religion</span
                >
                <input
                  ngModel
                  type="text"
                  pInputText
                  placeholder="Religion"
                  [(ngModel)]="doctor.religion"
                  name="religion"
                  #abo="ngModel"
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abo.valid || abo.pristine"
                class="alert alert-danger"
              >
                Please Enter religion
              </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:20%;" class="ui-inputgroup-addon"
                  >Salary</span
                >
                <input
                  ngModel
                  type="text"
                  pInputText
                  (keypress)="numberOnly($event)"
                  placeholder="Salary"
                  #abp="ngModel"
                  name="sallary"
                  [(ngModel)]="doctor.sallary"
                />
              </div>
              <div
                style="padding:0px;margin-bottom:4px"
                [hidden]="abp.valid || abp.pristine"
                class="alert alert-danger"
              >
                Please Enter sallary
              </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4">
              <div class="ui-inputgroup">
                <span style="width:35%;" class="ui-inputgroup-addon"
                  >Description</span
                >
                <textarea
                  maxlength="70"
                  rows="2"
                  cols="30"
                  pInputTextarea
                  autoResize="autoResize"
                  placeholder="Description"
                  name="Description"
                ></textarea>
              </div>
            </div>

            <div class="ui-g-12 ">
              <div class="ui-g ui-fluid">
                <!-- Submit button -->
                <div class="ui-g-12 ui-md-12">

                    <button
                      type="button"
                      (click)="save(); myForm.resetForm()"
                      [disabled]="myForm.invalid || !shareCheck"
                      class="btn btn-success btn-block"
                    >
                      Submit
                    </button>

                </div>
              </div>
            </div>
          </div>
        </form>
        <p-toast key="u" [showTransitionOptions]="'3ms'"></p-toast>
      </p-card>
    </div>
  </div>
</div>